@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --background: #151621;
    --background-contraste: #343645;
    --strong: #FB2761;

    --stile-font: 'Ibarra Real Nova', serif;
    --poppins: 'Poppins', sans-serif;
    --red-hat: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--background);
    color: white;
    font-family: var(--poppins);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

strong {
    color: var(--strong);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 50px;
}

h1 {
    font-family: var(--stile-font);
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

@media (max-width: 1020px) {
    .head_nav_item {
        display: none;
    }

    .head_icon_div {
        display: none;
    }
}


/*footer*/

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

#footer > p {
    font-family: var(--poppins);
}

#footer > p > a > strong:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.footer_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carinha > img {
    width: 50px;
    filter: invert();
}

.botao_vakinha {
    background-color: var(--strong);
    padding: 5px 15px;
    border-radius: 50px;
    color: white;
    font-family: var(--red-hat);
    transition: 0.2s;
}  

.footer_container > a {
    text-decoration: none;
}

.botao_vakinha:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #fb275f71;
}

.foot_line {
    background-color: var(--background-contraste);
    height: 2px;
    width: 100vw;
}


/*header*/

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vh;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.criador {
    display: flex;
    align-items: center;
    gap: 10px;
}

.criador > h3 {
    font-size: 1.2rem;
}

.foto_icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: var(--background-contraste) url(images/fotos/caio-foto-wide.JPG) center center no-repeat;
    background-size: cover;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header_nav  > ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.head_nav_item {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.1s;
}

.head_nav_item:hover{
    filter: opacity(80%);
}

.head_icons {
    display: flex;
    gap: 5px;
}

.head_icon_div > img {
    width: 30px;
}

.head_icon_div {
    transition: 0.1s;
}

.head_icon_div:hover {
    transform: scale(1.1);
    filter: opacity(80%);
}

.menu_button {
    width: 25px;
    height: 25px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: 0.1s;
}

.menu_button:hover {
    filter: opacity(80%);
    transform: scale(1.05);
}

.menu_line {
    background-color: white;
    width: 100%;
    height: 3px;
}

/*main*/

main {
    height: ;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--strong);
    font-family: var(--red-hat);
}

main > h1 {
    font-size: 6rem;
}

.homep {
    font-weight: 300;
    font-size: 1.5rem;
}

main > p > strong {
    font-weight: 500;
}

main > h2 {
    font-size: 2rem;
    font-family: var(--red-hat);
    margin-top: 5rem;
}

.titulos {
    font-size: 4.6rem;
}

.pagina {
    align-items: center;
}

main > p {
    font-weight: 400;
    font-size: 2rem;
}

main > p > strong {
    font-family: var(--red-hat);
}



/*Repositórios*/

#repositorios {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

#os_caras_repo > .repo_visivel {
    background-image: url(images/repositorios/os_caras.jpg);
}

.repo_container {
    width: 240px;
    margin: 10 20;
}

.repo_visivel {
    width: 240px;
    height: 320px;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.2rem;
    transition: 1s;
    color: white;
}

.repo_hover {
    position: absolute;
    bottom: 0rem;
    background-color: #151621e7;
    display: flex;
    transition: 0.3s;
    opacity: 0%;
}

.repo_visivel:hover .repo_hover {
    opacity: 100%;
}

.repo_especificacao {
    padding: 0 10px;
    width: 220px;
    padding: 10px;
}

.repo_especificacao > h3 {
    font-size: 2.2rem;
}

.repo_especificacao > p {
    text-align: justify;
}