@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --background: #151621;
    --background-contraste: #343645;
    --strong: #FB2761;
    --contraste-medio: #363958;
    --contraste-fraco: #666775;
    --claro: #bdbecc;

    --stile-font: 'Ibarra Real Nova', serif;
    --poppins: 'Poppins', sans-serif;
    --red-hat: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--background);
    color: white;
    font-family: var(--poppins);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidde;
}

strong {
    color: var(--strong);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 50px;
}

h1 {
    font-family: var(--stile-font);
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

@media (max-width: 800px) {
    .head_nav_item {
        display: none;
    }

    .head_icon_div {
        display: none;
    }

    #burguer {
        display: flex;
    }
}


/*footer*/

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

#footer > p {
    font-family: var(--poppins);
}

#footer > p > a > strong:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.footer_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carinha > img {
    width: 50px;
    filter: invert();
    z-index: 1;
}

.botao_vakinha {
    background-color: var(--strong);
    padding: 5px 15px;
    border-radius: 50px;
    color: white;
    font-family: var(--red-hat);
    transition: 0.2s;
}  

.footer_container > a {
    text-decoration: none;
}

.botao_vakinha:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #fb275f71;
}

.foot_line {
    background-color: var(--background-contraste);
    height: 2px;
    width: 100vw;
}


/*header*/

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vh;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.criador {
    display: flex;
    align-items: center;
    gap: 10px;
}

.criador > h3 {
    font-size: 1.2rem;
}

.foto_icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: var(--background-contraste) url(images/fotos/caio-foto-wide.JPG) center center no-repeat;
    background-size: cover;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header_nav  > ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.head_nav_item {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.1s;
}

.head_nav_item:hover{
    filter: opacity(80%);
}

.head_icons, .menu_icons{
    display: flex;
    gap: 5px;
}

.head_icon_div > img {
    width: 30px;
}

.head_icon_div {
    transition: 0.1s;
}

.head_icon_div:hover {
    transform: scale(1.1);
    filter: opacity(80%);
}

.menu_button {
    width: 25px;
    height: 25px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    transition: 0.1s;
    z-index: 1000;
    cursor: pointer;
}

.menu_button:hover {
    filter: opacity(80%);
    transform: scale(1.05);
}

.menu_line {
    background-color: white;
    width: 100%;
    height: 3px;
}

#itens {
    display: none;
}

.menu_cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: absolute;
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    bottom: -0vh;
    z-index: 10;
}

.menu_cell > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
    z-index: 20;
    height: 300px;
    width: 100vw;
}

.menu_cell > ul > li > a {
    color: white;
    font-family: var(--red-hat);
    font-size: 30px;
    padding: 30px 150px;
}

.menu_cell > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu_icons {
    margin-top: 120px;
    margin-bottom: 10px;
}

.menu_icon_div > img {
    width: 50px;
}

#item_01{
    background-color: #20233F;
}

#item_02{
    background-color: #292D4D;
}

#item_03{
    background-color: #35385A;
}

#item_04{
    background-color: #43476B;
}

.close {
    display: flex;
    width: 40px;
    height: 40px;
    z-index: 400;
    align-self: flex-end;
    margin-bottom: 40px;
    margin-right: 20px;
}

.close_line {
    background-color: white;
    height: 5px;
    width: 20px;
    position: relative;
}

#close_01 {
    transform: rotate(45deg);
    left: 20px;
}

#close_02 {
    transform: rotate(-45deg);
}

/*main*/

main {
    height: ;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--strong);
    font-family: var(--red-hat);
}

main > h1 {
    font-size: 6rem;
}

.homep {
    font-weight: 300;
    font-size: 1.5rem;
}

main > p > strong {
    font-weight: 500;
}

main > h2 {
    font-size: 2rem;
    font-family: var(--red-hat);
    margin-top: 5rem;
}

.titulos {
    font-size: 4.5rem;
}

.pagina {
    align-items: center;
}

main > p {
    font-weight: 400;
    font-size: 2rem;
}

main > p > strong {
    font-family: var(--red-hat);
}

@media (max-width: 800px) {
    .container {
        padding: 0 30px;
    }

    main > h1 {
        font-size: 3.2rem;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1rem;
    }

    .home {
        font-size: 1.3rem;
    }

    .carinha > img {
        width: 40px;
    }

    .footer_container {
        gap: 5px;

    }

    .botao_vakinha {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    #footer > p {
        font-size: 0.7rem;
        width: 180px;
        text-align: justify;
    }

    .titulos {
        font-size: 3rem;
    }

    main > p {
        font-size: 1.5rem;
    }
}



/*Repositórios*/

#repositorios {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

#os_caras_repo > .repo_visivel {
    background-image: url(images/repositorios/os_caras.jpg);
}

#place_hoder > .repo_visivel {
    background-color: var(--background-contraste);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 20px 10px #dcdde72c;
}

#place_hoder > .repo_visivel:hover {
    box-shadow: inset 0 0 50px 10px #dcdde77a;

}

#mais_simbolo {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--contraste-fraco);
    position: relative;
    bottom: 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 3px #dcdde72c;
    transition: 0.3s;
}

#mais_simbolo:hover {
    transform: scale(1.15);
}

.mais_linha {
    position: absolute;
    background-color: var(--contraste-medio);
}

#m_linha_1 {
    width: 15px;
    height: 70px;
}

#m_linha_2 {
    width: 70px;
    height: 15px;
}

.repo_container {
    width: 240px;
    margin: 10 20;
}

.repo_visivel {
    width: 240px;
    height: 320px;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    transition: 1s;
    color: white;
}

.repo_hover {
    position: absolute;
    bottom: 0rem;
    background-color: #151621e7;
    display: flex;
    transition: 0.3s;
    opacity: 0%;
}

.repo_visivel:hover .repo_hover {
    opacity: 100%;
}

.repo_especificacao {
    padding: 5px 15px;
    width: 220px;
    padding: 10px;
}

.repo_especificacao > h3 {
    font-size: 2.2rem;
}

.repo_especificacao > p {
    text-align: justify;
}

@media (max-width: 700px) {
    .repo_container {
        width: 150px;
    }

    .repo_visivel {
        width: 160px;
        height: 210px;
    }

    .repo_especificacao {
        width: 140px;
        paddin: 20px;
    }

    .repo_especificacao > h3 {
        font-size: 2rem;
    }

    .repo_especificacao > p {
        font-size: 0.8rem;
    }

    #mais_simbolo {
        width: 70px;
        height: 70px;
    }

    #m_linha_1 {
        width: 10px;
        height: 50px;
    }
    
    #m_linha_2 {
        width: 50px;
        height: 10px;
    }
}

/*Sobre*/

#int_sobre {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 80px 0;
}

#int_sobre > img {
    width: 500px;
}

.int_text {
    width: 650px;
    font-weight: 300;
}

.int_text > p {
    font-size: 1.8rem;
}

#lista_sobre {
    width: 800px;
}

.sub_titulo {
    font-family: var(--stile-font);
    font-size: 2.5rem;
    color: white;
    margin: 20px;
}

#lista_sobre > p {
    font-weight: 100;
}

@media (max-width: 1200px) {
    #int_sobre {
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }

    #int_sobre > img {
        width: 80vw;
    }

    .int_text > p {
        font-size: 1.4rem;
    }

    .int_text {
        margin-top: 30px;
        width: 80vw;
    }

    #lista_sobre {
        width: 70vw;
    }
}




/*Contato*/

.contato {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 20px;
}

#contatos {
    display: flex;
    flex-direction: column;
    width: 550px;
    justify-content: space-between;
}

.redes {
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

#redes_sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#redes_sociais > h2 {
    font-family: var(--stile-font);
    font-size: 2rem;
}

.sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sociais > a > img {
    width: 40px;
}

.nome {
    font-family: var(--red-hat);
    color: var(--strong);
}

.nick {
    font-family: var(--stile-font);
}

.linha_ctt {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 30px 0;
}

#vakinha > h2 {
    font-family: var(--stile-font);
    font-size: 3rem;
}

#vakinha > p {
    font-size: 1.3rem;
}

.vakinha {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.vakinha > p {
    font-family: var(--stile-font);
    font-size: 1.3rem;
}

#botao_vakinha {
    font-size: 2rem;
    font-family: var(--red-hat);
    padding: 10px 30px;
    margin-right: 20px;
}

#feedback {
    width: 550px;
}

#feedback > h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.feedback {
    display: flex;
    flex-direction: column;
}

.form_nome {
    display: flex;
    background-color: var(--contraste-medio);
    border-radius: 2rem;
    height: 60px;
    align-items: center;
}

.form_nome > input {
    border: none;
    background-color: var(--contraste-medio);
    font-size: 20px;
    padding: 15px;
    border-radius: 0 2rem 2rem 0;
    width: 410px;
    color: white;
    min-width: none;
}

.nome_lb {
    background-color: #20233F;
    border-radius:  2rem 0 0 2rem;
    font-size: 20px;
    padding: 17px;
    width: 110px;
    min-width: 100px;
    font-weight: bold;
    font-family: var(--red-hat);
}

.form_txt {
    background-color: var(--contraste-medio);
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.txt_lb {
    background-color: #20233F;
    font-size: 20px;
    padding: 15px;
    border-radius: 2rem 2rem 0 0;
    font-weight: bold;
    font-family: var(--red-hat);
}

.form_txt > textarea {
    background-color: var(--contraste-medio);
    border: none;
    border-radius: 0 0 2rem 2rem;
    height: 170px;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.send_button {
    border: none;
    background-color: #20233F;
    color: white;
    width: 150px;
    padding: 15px;
    font-size: 20px;
    border-radius: 2rem;
    font-weight: bold;
    font-family: var(--red-hat);
    cursor: pointer;
    transition: 0.3s;
}

.send_button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 3px #dcdde742;
}

@media (max-width: 1200px) {
    .contato {
        flex-direction: column;
        align-items: center;
    }

    .linha_ctt {
        width: 80vw;
    }

    #contatos {
        width: 90vw;
        align-items: center;
    }

    #vakinha > p {
        margin-top: 60px;
    }

    #obrigado > p {
        margin: 0 30px;
    }

    #redes_sociais {

    }

    #feedback {
        width: 90vw;
    }

    .form_nome, .form_txt{
        width: 85vw;
    }

    .nome_lb {
        padding-righ;
    }
}

/*OBRIGADO*/

#obrigado {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#obrigado > a {
    background-color: var(--strong);
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    font-family: var(--red-hat);
    transition: 0.2s;
    font-size: 3rem;
    margin: 30px;
}

#obrigado > a:hover {
    transform: scale(1.1);
}